/*
  This file demonstrates the use of CSS selectors.
  For now, don't worry too much about the CSS properties and values.
  Just get a feel for how selectors work.
*/

/*
  Lets make any element with the country class attribute value have bold and green text.
  Note that we could omit the universal selector and just use "[class~="country"]" here.
  We also could replace the attribute selector and use the class selector ".country".
  Generally, using the class selector is a better choice as it is more common easier to
  type out.
*/

*[class~="country"] {
	font-weight: bold;
	color: green;
}

/*
  Lets make all h1 elements have red text.
*/

h1 {
  	color: red;	
}

/*
  But lets make chapter headings just be black. This supersedes the style above. Don't
  worry about how that works just yet.
*/

section.chapter h1 {
	color: black;
}

/*
  Lets style our link. We will make it blue whether it has been visited or not.
  Lets also make it a different color when being hovered over.
*/

a:link, a:visited {
	color: blue;
}

a:hover {
	color: red;
}

/*
  Lets do something a little more interesting. Lets make the first letter of the first paragraph
  of a chapter a larger font size.
*/
section.chapter p:first-of-type::first-letter {
	font-size: 200%;
}

/*
  Lets give footer a top border
*/

footer {
	border-top: 1px solid black;
}

/*
  Lets make the paragraph with the below ID have bold text.
*/

#ellipsesParagraph {
	font-weight: bold;
}

